:root{
	--btn_danger_u591:#26a74a;
	--btn_danger_u591_disabled:#d9534f;
	--btn_danger_u591_mouseOver:#141340;
	--btn_danger_u591_mouseDown:#9b283a;
	--u580:#cccccc;
}
.paragraph-limited{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
#tin-tuc-main{
	font-family: 'Roboto';
}
#tin-tuc-main .banner{
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	text-align: center;
}
#tin-tuc-main .banner picture img{	
	width: 100%;
	position: relative;
}
#tin-tuc-main .banner section {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;	
}
#tin-tuc-main .banner section div.content{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	color: white;
}
@media only screen and (max-width:576px){
	#tin-tuc-main .banner section h1{
		font-size: 5vw;
	}
	#tin-tuc-main .banner section h5{
		font-size: 4vw;
	}	
}
#tin-tuc-main .question table{
	width: 100%;
}
#tin-tuc-main .question table tr{
	border-bottom: 1px solid var(--u580);
}
#tin-tuc-main .question table tr th{
	text-align: center;
}
#tin-tuc-main .question table tr th a{
	cursor: pointer;
}
#tin-tuc-main .question table tr th a:hover{
	color: var(--btn_danger_u591_mouseOver)
}
#tin-tuc-main .news h3{
	border-bottom: 3px solid var(--btn_danger_u591);
	width: fit-content;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
#tin-tuc-main .news	section {
	padding: 10px;
	margin-top: 30px;
}
#tin-tuc-main .news section >img{
	width: 100%;
}
#tin-tuc-main .news section h6{
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
#tin-tuc-main .news section table{
	width: 100%;
}
#tin-tuc-main .news section p{
	margin: 10px 10px	50px;
}
#tin-tuc-main .news section button{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 5px 30px;
	background: inherit;
	border:1px solid var(--btn_danger_u591);
	font-weight: 500;
	border-radius: 5px;
	outline: none;
}
#tin-tuc-main .news section button:hover{
	background: var(--btn_danger_u591_mouseOver);
	color: white;
	border:none;
}
#tin-tuc-main .news section button:active{
	background: var(--btn_danger_u591_mouseDown);
	color: white;
	border:none;
}
#tin-tuc-main .news .next-pages table{
	margin: 50px auto auto auto;
}
#tin-tuc-main .news .next-pages td{
	display: inline-block;
	width: 3em;
	height: 3em;
	color: var(--btn_danger_u591);
	border:1px solid var(--u580);
	border-right: none;
	margin:0px;
	line-height: 3em;
	text-align: center;
	cursor: pointer;
}
#tin-tuc-main .news .next-pages td:last-child{
	border-right:1px solid var(--u580);
}
#tin-tuc-main .related-products h3{
	border-bottom: 3px solid var(--btn_danger_u591);
	width: fit-content;
	padding-bottom: 10px;
	margin-bottom: 1em;
}
#tin-tuc-main .related-products section{
	padding: 0.5em;
	text-align: center;
}
#tin-tuc-main .related-products section img{
	width: 100%;
	padding: 20px 40px;
	border: 1px solid var(--u580);
}
#tin-tuc-main .related-products section h6{
	margin:1em;
	height: 2.5em;
}
#tin-tuc-main .related-products section button{
	border: 1px solid var(--btn_danger_u591);
	border-radius: 5px;
	padding: 0.5em 3em;
	background: inherit;
	outline: none;
}
#tin-tuc-main .related-products section button:hover{
	background: var(--btn_danger_u591);
	color: white;
}
#tin-tuc-main .related-products section button:active{
	background-color: var(--btn_danger_u591_mouseDown);
	color: white;
}
#tin-tuc-main .related-products .owl-nav{
	position: absolute;
	top:25%;
	width: 100%;
	justify-content: space-between;
}
#tin-tuc-main .related-products .owl-nav .owl-prev,#tin-tuc-main .related-products .owl-nav .owl-next{
	font-size: 3em;
	background: inherit;
	outline: var(--btn_danger_u591_mouseDown);
	position: relative;
		color: var(--btn_danger_u591);
}
#tin-tuc-main .related-products .owl-nav button.owl-prev{
	position: absolute;
	left: 10px;
}
#tin-tuc-main .related-products .owl-nav .owl-next{
	position: absolute;
	right: 10px;
}
#tin-tuc-main .related-products .owl-nav .owl-prev:hover,#tin-tuc-main .related-products .owl-nav .owl-next:hover{
	color: var(--btn_danger_u591_mouseOver);
}
#tin-tuc-main .related-products .owl-nav .owl-prev:active,#tin-tuc-main .related-products .owl-nav .owl-next:active{
	color: var(--btn_danger_u591_mouseDown);
}
#tin-tuc-main .related-products .owl-nav .owl-prev:focus,#tin-tuc-main .related-products .owl-nav .owl-next:focus{
}
@media only screen and  (max-width: 768px){
}
@media only screen and  (max-width: 576px){
}